test.tif
render.pgw
render.png
render.png.aux.xml
render.pov
render.pov-state
tree_height.copc.laz
tree_height.laz
tree_height_boundary.sqlite
tree_height_coords.inc
tree_height_only.copc.laz
tree_height_only.laz
tree_height_only.txt
